@font-face {
    font-family: 'PT Sans';
    src: url('/fonts/PTSans-Regular.woff2') format('woff2'),
         url('/fonts/PTSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}